---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign publications = site.publications | where_exp: "item", "item.published != false" | sort: "date" | reverse %}

{% if publications.size > 0 %}
  <div class="publications">
    <ul class="pub-list">
      {% for post in publications %}
        {% include publication-item.html post=post %}
      {% endfor %}
    </ul>
  </div>
{% endif %}



