---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign publications = site.publications | where_exp: "item", "item.published != false" | sort: "date" | reverse %}

{% if publications.size > 0 %}
  <div class="publications">
    {% assign current_year = "" %}
    {% for post in publications %}
      {% assign year = post.date | date: "%Y" %}
      {% if year != current_year %}
        {% if current_year != "" %}
            </ul>
          </section>
        {% endif %}
        <section class="pub-year">
          <h3 class="pub-year__title">{{ year }}</h3>
          <ul class="pub-list">
        {% assign current_year = year %}
      {% endif %}
      {% include publication-item.html post=post %}
      {% if forloop.last %}
          </ul>
        </section>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}



