---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div class="publications">
  {% if site.publication_category %}
    {% for category in site.publication_category %}
      {% assign category_posts = site.publications | where: "category", category[0] | sort: "date" %}
      {% if category_posts.size > 0 %}
        <section class="pub-category">
          <h3 class="pub-category__title">{{ category[1].title }}</h3>
          <ul class="pub-list">
            {% for post in category_posts reversed %}
              {% include publication-item.html post=post %}
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    {% endfor %}
  {% else %}
    <section class="pub-category">
      <ul class="pub-list">
        {% for post in site.publications reversed %}
          {% include publication-item.html post=post %}
        {% endfor %}
      </ul>
    </section>
  {% endif %}
</div>



